<div class="col-xs-2">
	<ul class="nav nav-pills nav-stacked">
		<li ui-sref-active="active"><a href="#/documents"><span class="glyphicon glyphicon-book"></span>&nbsp My Documents</a></li>
		<li ui-sref-active="active"><a href="#/search"><span class="glyphicon glyphicon-search"></span>&nbsp Search</a></li>
		<li ui-sref-active="active"><a href="#/account"><span class="glyphicon glyphicon-folder-open"></span>&nbsp My Account</a></li>
		<li ui-sref-active="active"><a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp Log out</a></li>
	</ul>
</div>